extends default

block body
    div.container
        p.alert.alert-info Cette page est destinée à etre protegée par id/mot de passe
    div.container-fluid.mt-3
        input.form-control#myInput(type="text" placeholder="Search..")
        br

        table.table.table-bordered.table-striped
            thead
                tr
                    th ID
                    th Nom
                    th Prix
                    th Image
                    th Description
                    th Composition
                    th Poids
                    th Quantité
                    th On/off
                    th Supprimer
            tbody#myTable
            - const gamme = [confitures, confiseries]
            - let types = ["confiture", "confiserie"]
            - let compteur = -1
            for produits in gamme
                - compteur = compteur +1
                - var type = types[compteur]
                for produit in produits
                    tr
                        td
                            a(href=`/produit?id=${produit.id}`) #{produit.id}
                        td=produit.nom
                        td #{produit.prix.prix1}, #{produit.prix.prix2}, #{produit.prix.prix3}
                        td 
                            a(href=`/img/${produit.img_src}`) #{produit.img_src}
                        
                        td
                            form(method="POST" action="/modify_product")
                                input(type="hidden" name="product_type" value=`${type}`)
                                input(type="hidden" name="id" value=`${produit.id}`)
                                textarea.form-control #{produit.description}
                        td=produit.composition
                        td #{produit.poids.poids1}, #{produit.poids.poids2}, #{produit.poids.poids3}
                        td=produit.quantité
                        td
                            form(action="/switch_state" method="post")
                                input(type="hidden" name="product_type" value=`${type}`)
                                input(type="hidden" name="id" value=`${produit.id}`)
                                if produit.active
                                    input(type="submit" value=`${produit.active?"On":"Off"}`).btn.btn-success
                                else
                                    input(type="submit" value=`${produit.active?"On":"Off"}`).btn.btn-warning
                        td
                            form(action="/delete" method="post")
                                input(type="hidden" name="product_type" value=`${type}`)
                                input(type="hidden" name="id" value=`${produit.id}`)
                                input(type="submit" value="Supprimer").btn.btn-danger
                            
                    

    script.
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });